
 .main{
    width: 1248px;
    height: 1546.88px;
    margin: 0px -234.667px 0px 0px;
}
.page{
    width: 1060.79;
    height: 1546.88;
    margin: 0px 0px 0px 96px;
    padding: 0px 0px 64px;
}
.collaborate{
    width: 1060.79px;
    height: 32px;
    cursor: pointer;
    font: 24px "Roboto Slab",serif;
    margin: 31.92px 0px 48px;
    padding: 0px 0px 0px 24px;

}
.collaborate :hover{
    color: grey;
}
h4{
    width: 901.67px;
    height: 27px;
    color: #212529;
    font: 20.4px "Roboto Slab",serif;
    margin: 27.132px 0px 40.8px;
    padding: 0px 0px 0px 20.4px;
}
.service-info{
    width: 520.31px;
    height: 320.96px;
    padding: 0px 96px 0px 0px;
    display: inline-block;
}
h2{
     width: 424.31px;
    height: 121.56px;
    color: #212529;
    font: 48px "Roboto Slab", serif;
    padding: 0px 0px 0px 0px; 
    cursor: pointer;
    display: block;
    margin: 0px 0px 0px 0px;  
}


h3{
    width: 424.31px;
    height: 95.98px;
    color: #212529;
    font: 17.6px "Roboto Slab",serif;
    margin: 15px 0px;
    padding: 0px 0px 0px;
   
}
 .service-link{
    width: 424.31px;
    height: 68.25px;
    display: flex;
    padding: 0px;
} 
p{
    cursor: pointer;
    width: 205.9px;
    height: 26.67px;
    color: #212529;
    font: 20.8px "Roboto Slab",serif;
    margin: 17.68px 29.92px 0px 0px;
    font-weight: bold;
    padding: 0px 0px 0px 0px;

}
p:hover{
    color: grey;
}
.services{
    width: 1060.79px;
    height: 1402.88px;
}
.service-image-1{
    width: 451.4px;
    height: 272px;
}
.service-image{
    width: 450.56px;
    height: 272px;
}
.service-image-ns{
    width: 451.4px;
    height: 272px;
}

.root{
    width: 1464px;
    height: 1546.88px;
   
}
html{
    width:1464px;
    height: 1578.79px;
    
}
.img{
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
   
  }
  .outer-image-holder{
    position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  }
  .img:hover .outer-image-holder{
    transform: rotateY(180deg);
  }
  .image-holder-phone, .image-holder-pc {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  
  .image-holder-pc {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  } 
body{
    background-color: #f0f8ff;
    color: black;
    
}
.dark-mode{
    background-color: #212529;
    color: #f0f8ff;
    
  }
.s1, .s2, .s3, .s4{
    display: flex;
    margin: 1px;
}
button{
    appearance: auto;
  
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
  
    box-sizing: border-box;
   
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
   
}
.pointer{
    width:26px;
    height: 59.34px;
    padding: 0px 0px 0px;
    cursor: pointer;
    margin-left: 0px ;
}
 